html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;


}

.main {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-image: url("https://media1.giphy.com/media/XDxu2gw4Gpmc42I9uo/giphy.gif");
    background-size: cover;
    filter: 9;
    background-position-y: 50px;
    background-position-x: 50px;



}

.player {
    background-color: rgb(66, 72, 237);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 300px;
    width: 400px;
    overflow: hidden;
    box-shadow: 4px, 10px, 10px;


}


.row1 {
    height: 40%;
    width: 100%;
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjB3Zzk4MWc3ZjFxZ3plbmRpNXE2cGRuYnUxMjFoYThraWhyOWE5YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hyKPESqO0hibYyI7ls/giphy.gif");
    background-size: cover;
    background-position-y: 35%
}

#saongTitle {
    height: 10%;
    width: 100%;
    font-family: monospace;
    text-align: center;

    font-size: 10px;
}

.row2 {
    height: 5%;
    width: 100%;
    background-color: rgba(121, 120, 147, 0.754);

}


.play {
    height: 100%;
    width: 20%;
    justify-self: space-evenly;
    align-items: center;
    display: flex;
}

#pre {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;

}
#play {
    height: 35px;
    width: 35px;
    background-size: cover;
    margin-top: 20px;
}


#next {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;




}


.seek-bar {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.handle {
    height: 80%;
    width: 5px;
    background: linear-gradient(to right, #14db0d 0%, #973868 100%);
    border-radius: 25px;



}

#fill {
    height: 8px;
    width: 3px;
    border-radius: 25px;
    background-color: rgb(56, 186, 186);
    z-index: 999;
    margin-top: -1.5px;
    margin-left: -1.5px;

}

#currentTime {
    width: 50%;
    height: 100%;
    margin-left: 35px;
    margin-top: 25px;



}

.mute {
    height: 50%;
    width: 100%;
    justify-content: space-between;
    align-items:space-between ;
    display:space-between;
}

.muteButtons{
width: 50%;
height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 10px;



}

#decrease{
width: 15px;
height:15px ;
background-size:cover ;
margin: 5px;



}
#mute{
    width: 30px;
    height:30px ;
    background-size:cover ;
    margin: 5px;
    
    
    
    }
#increase{
height: 15px;
width: 15px;
background-size:cover ;
margin: 5px;



    
}
















